.sidebar {
    width: 250px;
    min-height: 60vh;
    background-color: #0A0A0A;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu li {
    margin: 0;
}

.menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
}

.menu li a:hover {
    color: #FFEE00;
    font-weight: bold;
}
.menu li a:hover .icon{
    color: #FFEE00;
    font-weight: bold;
}
.menu li a.active {
    color: #FFEE00; /* Желтый цвет активного пункта */
    font-weight: bold;
}

/* Исправленный стиль для иконки */
.menu li a .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: white; /* Белый цвет по умолчанию */
    fill: currentColor; /* Цвет будет как у текста */
    transition: color 0.3s ease;
}

/* Меняем цвет иконки, если родительский <a> активен */
.menu li a.active .icon {
    color: #FFEE00 !important;
    fill: #FFEE00 !important;
}

.logout {
    margin-top: auto;
    color: #ff4444 !important;
}

.menu span{
    width: 100%;
    height: 1px;
    background: #fff;

}

@media(max-width: 600px) {
    .sidebar{
        display: none;
    }
}